/**CSS GREEN DEAL**/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto';
}
html{
    scroll-behavior: smooth;
}
/***HEADER***/
header{
    background: linear-gradient(rgba(0,0,0, 0.9),rgba(0,0,0,0.4)), url("img/main-bcg.png");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    z-index: 0;
    width: auto;
    width: 100%;
}
.header-text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header-text h1{
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 1.5px; 
    background: linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0,0.2)); 
    border-radius: 5px;
    padding: 2.5px;
    transition: .3s ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.btn{
    display: inline-block;
    border: 2px solid #006400;
    background-color: #006400;
    letter-spacing: 1px;
    padding: 5px 10px;
    margin-top: 7px;
    border-radius: 10px;
    transition: .3s;
}
.btn a{
    font-size: 28px;
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color: #008000;
}
/***RESPONSIBLE-HEADER***/
@media only screen and (max-width: 800px){
    /*header*/
    header{
        height: 100vh;
        width: 100%;
    }
    .header-text{
     width: 100%;
     transform: translate(0%,0%);
     left: 0%;
    }
    .header-text h1{
        text-align: center;
        color: white;
        font-size: 42px;
        text-transform: uppercase;
        word-spacing: 3px;
        letter-spacing: 1.5px;
    }
    .btn{
        display: block;
        width: 100%;
        padding: 5px 15px;
        margin-top: 7px;
        border-radius: 10px;
    }
    .btn a{
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
    }
/***Header-menu***/
#menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}
.bar{
    height: 5px;
	width: 100%;
	background-color: white;
	display: block;
	border-radius: 5px;
	transition: 0.4s ease
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a{
	color: black;
	text-decoration: none;
    font-size: 18px;
}
.nav li a:hover{
	font-weight: bold;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle, white, white);
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 550px;
	height: 550px;
	transform: translate(-45%, -40%);
}
.change .bar{
	background-color: black;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}
/***responsible-menu***/
@media (min-width: 1000px) {
    .nav li a{
        color: black;
        text-decoration: none;
        font-size: 26px;
    }
    .nav li a:hover{
        font-weight: bold;
    }
    .nav li{
       
        padding: 16px 0;
    }
    .change-bg{
        width: 550px;
        height: 540px;
        transform: translate(-40%,-30%);
    }
}
/***MAIN***/
main h1{
    text-align: center;
    margin: 35px;
    font-size: 50px;
}
.podtext{
    text-align: center;
    font-size: 30px;
    margin: 20px;
    color: dimgray;
}
.podtext2{
    font-size: 32px;
}
.podtext3{
    margin: 6px 10%;
}
main p{
    text-align: center;
    font-size: 32px;
    margin: 40px 10%; 
}
main p a{
    text-decoration: none;
    color: #41B3A3;
    transition: .3s;
}
main p a:hover{
    color: #008000;
}
main h2{
    text-align: center;
    margin: 15px;
    font-size: 42px;
}
.citace{
    color: rgb(67, 67, 67);
}
.cite-name{
    text-align: right;
    margin: 10px 20px;
    font-size: 28px;
}
/*shrnuti obrazek*/
.shrnuti_img{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 border-radius: 7px;
}
/*uvodni video*/
.main-vid{
    margin: 25px;
}
/*responsible IFRAME 16:9*/
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
@media only screen and (max-width: 1000px){
    .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; 
    }
    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }  
}

/***main-images***/
.image-leaf{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 128px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.image-carbon-site{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 168px;/*když tak zvětšit*/
}

/***Responsible-main***/
@media only screen and (max-width: 800px){
    main p{
        font-size: 28px;
    }
    main h1{
        text-align: center;
        margin: 20px;
        font-size: 48px;
    }
    main h2{
        text-align: center;
        margin: 15px;
        font-size: 34px;
    }
    .podtext{
    text-align: center;
    font-size: 24px;
    margin: 20px;
    color: dimgray;
}
    /**responsible-leaf**/
    .image-leaf{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 80px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
/********horizontal line*******/
.h-line{
    background-color: black;
    border: 1px solid black;
    margin: 25px 35%;
}
/***footer***/
footer{
    background-color: #05386B;
    color: white;
    padding: 15px 20px;
}
footer p{
    text-align: center;
    font-size: 24px;
}
/***responzible-footer***/
@media only screen and (max-width: 800px){
    footer p{
        font-size: 20px;
    }
}
/***To-Top.btn***/
.to-top{
    background-color: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    text-decoration: none;
    pointer-events: none;
    transition: all .3s;
    border: 2px solid black;
}
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.to-top:hover{
    background-color: #41B3A3;
}
/***Flexbox 2***/
.flexbox-container{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.flexbox-item{
    width: 50%;
    margin: 10px;
}
.flexbox-item-1{
    min-height: 300px;
}
.flexbox-item-1 h2{
  margin-top: 10px;
}
.flexbox-item-2{
    min-height: 300px;
}
.flexbox-border{
    border: 2px solid black;
}
/***responsible-flexbox***/
@media (max-width: 750px) {
    .flexbox-container {
      flex-direction: column;
      text-align: center;
      margin: 0;
    }
    .flexbox-item p{
        font-size: 22px;
        text-align: center;
    }
  }
/***Goals***/
.goals{
    background-color: #EAE7DC;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    transition: .3s;
}
.goals:hover{
    transform: scale(1.02);
}